<section class="thirteen columns">
    <h1>{{ site.heading.education[page.lang] | escape }}</h1>
    <article>
        <header>
            <h1>{{ site.education.header[page.lang] | escape }}</h1>
            <span>{{ site.education.university[page.lang] | escape }}</span>
            <span><address>Wildau, {{ site.country[page.lang] | escape }}</address><time>1997 - 2001</time></span>
        </header>
        <p>
            <br/>
            <em>{{ site.education.thesis[page.lang] | escape }}</em><br/>
            {{ site.education.thesis-details[page.lang] | escape }}
        </p>
    </article>
</section>
