<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Diploma, Business Informatics</h1>
            <span>University of Applied Sciences</span>
            <span><address>Wildau, Germany</address><time>1997 to 2001</time></span>
        </header>
        <p>
            <br/>
            <em>Thesis: Associative text analysis system to verify brand positioning concepts</em><br/>
            Java program for the text analysis, graphical presentation system for the Heinz Nixdorf Museums Forum based on Java applets and servlets
        </p>
    </article>
</section>
