<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Senior Backend Developer / DevOps Engineer</h1>
            <span><address>Newsletter2Go GmbH, Berlin, Germany</address><time>October 2016 to Present</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-envelope-o"></i>Develop backend services, API's and infrastructure tools based on PHP, Java/Spring Boot and golang</li>
                <li><i class="fa-li fa fa-envelope-o"></i>Maintain the completely self managed infrastructure components like Percona Server for MySQL, ElasticSearch etc. using puppet und ansible</li>
                <li><i class="fa-li fa fa-envelope-o"></i>Setup infrastructure/application monitoring using telegraf, InfluxDB and grafana</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Software Architect / Backend Team Lead</h1>
            <span><address>Onefootball GmbH, Berlin, Germany</address><time>June 2013 to September 2016</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-futbol-o"></i>Develop a service oriented architecture for the backend of the <a href="https://www.onefootball.com">Onefootball</a> app</li>
                <li><i class="fa-li fa fa-futbol-o"></i>Recruit and lead the backend team (including DevOps)</li>
                <li><i class="fa-li fa fa-futbol-o"></i>Act as a hands on software architect implementing micro services and backend components</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Senior Software Developer</h1>
            <span><address>Onefootball GmbH (formerly motain GmbH), Berlin, Germany</address><time>September 2012 to May 2013</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-futbol-o"></i>Backend feature development for the <a href="https://www.onefootball.com">Onefootball</a> app (formerly known as iLiga / THE Football App)</li>
                <li><i class="fa-li fa fa-futbol-o"></i>Migrate the monolythic legacy PHP application to a service based on Symfony2</li>
                <li><i class="fa-li fa fa-futbol-o"></i>Migrate the PHP application from bare metal to AWS</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Senior Software Developer</h1>
            <span><address>VZ Netzwerke Ltd, Berlin, Germany</address><time>December 2011 – August 2012</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-users"></i>Development of a REST API based on Symfony2 for the biggest german social network (studiVZ, schuelerVZ and meinVZ)</li>
                <li><i class="fa-li fa fa-users"></i>Frontend feature development based on Google Web Toolkit</li>
                <li><i class="fa-li fa fa-users"></i>Service and maintenance of the Jenkins CI server</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Backend Software Developer</h1>
            <span><address>VZ Netzwerke Ltd, Berlin, Germany</address><time>March 2010 – November 2011</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-users"></i>Build a REST API based on Symfony2 on top of the existing monolythic PHP application</li>
                <li><i class="fa-li fa fa-users"></i>Develop features for the support system of the social network</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Quality Assurance Developer</h1>
            <span><address>VZ Netzwerke Ltd, Berlin, Germany</address><time>July 2008 – February 2010</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-users"></i>Quality Assurance Developer in the engineering department</li>
                <li><i class="fa-li fa fa-users"></i>Develop automated acceptance tests for studiVZ, schuelerVZ and meinVZ</li>
                <li><i class="fa-li fa fa-users"></i>Service and maintenance of the Bamboo CI server</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>PHP Developer</h1>
            <span><address>ticket-web GmbH & Co KG (now SAP Event Ticketing), Wildau, Germany</address><time>June 2002 – June 2008</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-ticket"></i>Development of an internet based ticketing solution built on Linux, Apache, MySQL and PHP with several webservice interfaces</li>
                <li><i class="fa-li fa fa-ticket"></i>Administration and configuration of ticketing servers with focus on load balancing, system stability and continuous performance</li>
                <li><i class="fa-li fa fa-ticket"></i>Setup and run ticket shops for clubs like Borussia Dortmund, Hamburger SV, Hertha BSC and municipal organisations in Vienna, Munich etc.</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Software Developer</h1>
            <span><address>LETRAS Informatik, Berlin, Germany</address><time>October 2001 – March 2002</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-keyboard-o"></i>Java development for customer projects</li>
                <li><i class="fa-li fa fa-keyboard-o"></i>Development of an IP traffic invoicing service</li>
                <li><i class="fa-li fa fa-keyboard-o"></i>Administration of linux servers</li>
            </ul>
        </p>
    </article>
</section>
