<section class="thirteen columns">
    <h1>{{ site.heading.employment[page.lang] | escape }}</h1>
    <article>
        <header>
            <h1>Senior Backend Developer / DevOps Engineer</h1>
            <span><address>Newsletter2Go GmbH, Berlin, {{ site.country[page.lang] | escape }}</address><time>{{ site.months.oct[page.lang] | escape }} 2016 - {{ site.present[page.lang] | escape }}</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-envelope-o"></i>{{ site.employment.nl2go.line1[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-envelope-o"></i>{{ site.employment.nl2go.line2[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-envelope-o"></i>{{ site.employment.nl2go.line3[page.lang] | escape }}</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Software Architect / Backend Team Lead</h1>
            <span><address>Onefootball GmbH, Berlin, {{ site.country[page.lang] | escape }}</address><time>{{ site.months.jun[page.lang] | escape }} 2013 - {{ site.months.sep[page.lang] | escape }} 2016</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-futbol-o"></i>{{ site.employment.1ftbl-lead.line1[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-futbol-o"></i>{{ site.employment.1ftbl-lead.line2[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-futbol-o"></i>{{ site.employment.1ftbl-lead.line3[page.lang] | escape }}</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Senior Software Developer</h1>
            <span><address>Onefootball GmbH ({{ site.formerly[page.lang] | escape }} motain GmbH), Berlin, {{ site.country[page.lang] | escape }}</address><time>{{ site.months.sep[page.lang] | escape }} 2012 - {{ site.months.may[page.lang] | escape }} 2013</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-futbol-o"></i>{{ site.employment.1ftbl-dev.line1[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-futbol-o"></i>{{ site.employment.1ftbl-dev.line2[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-futbol-o"></i>{{ site.employment.1ftbl-dev.line3[page.lang] | escape }}</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Senior Software Developer</h1>
            <span><address>VZ Netzwerke Ltd, Berlin, {{ site.country[page.lang] | escape }}</address><time>{{ site.months.dec[page.lang] | escape }} 2011 – {{ site.months.aug[page.lang] | escape }} 2012</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-users"></i>{{ site.employment.vz-dev.line1[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-users"></i>{{ site.employment.vz-dev.line2[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-users"></i>{{ site.employment.vz-dev.line3[page.lang] | escape }}</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Backend Software Developer</h1>
            <span><address>VZ Netzwerke Ltd, Berlin, {{ site.country[page.lang] | escape }}</address><time>{{ site.months.mar[page.lang] | escape }} 2010 – {{ site.months.nov[page.lang] | escape }} 2011</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-users"></i>{{ site.employment.vz-back.line1[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-users"></i>{{ site.employment.vz-back.line2[page.lang] | escape }}</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Quality Assurance Developer</h1>
            <span><address>VZ Netzwerke Ltd, Berlin, {{ site.country[page.lang] | escape }}</address><time>{{ site.months.jul[page.lang] | escape }} 2008 – {{ site.months.feb[page.lang] | escape }} 2010</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-users"></i>{{ site.employment.vz-qa.line1[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-users"></i>{{ site.employment.vz-qa.line2[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-users"></i>{{ site.employment.vz-qa.line3[page.lang] | escape }}</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>PHP Developer</h1>
            <span><address>ticket-web GmbH & Co KG ({{ site.now[page.lang] | escape }} SAP Event Ticketing), Wildau, {{ site.country[page.lang] | escape }}</address><time>{{ site.months.jun[page.lang] | escape }} 2002 – {{ site.months.jun[page.lang] | escape }} 2008</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-ticket"></i>{{ site.employment.tw.line1[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-ticket"></i>{{ site.employment.tw.line2[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-ticket"></i>{{ site.employment.tw.line3[page.lang] | escape }}</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Software Developer</h1>
            <span><address>LETRAS Informatik, Berlin, Germany</address><time>{{ site.months.oct[page.lang] | escape }} 2001 – {{ site.months.mar[page.lang] | escape }} 2002</time></span>
        </header>
        <p>
            <br/>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-keyboard-o"></i>{{ site.employment.letras.line1[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-keyboard-o"></i>{{ site.employment.letras.line2[page.lang] | escape }}</li>
                <li><i class="fa-li fa fa-keyboard-o"></i>{{ site.employment.letras.line3[page.lang] | escape }}</li>
            </ul>
        </p>
    </article>
</section>
