<section class="thirteen columns">
    <h1>Conferences</h1>
    <article>
        <header>
            <h1>GopherCon</h1>
            <span><address>Denver, USA</address><time>2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Symfony Live</h1>
            <span><address>Berlin, Germany</address><time>2012</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Google Developer Days</h1>
            <span><address>Berlin, Germany</address><time>2011</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Agile Conference</h1>
            <span><address>Chicago, USA</address><time>2009</time></span>
        </header>
    </article>
</section>
