<section class="thirteen columns no-print">
    <h1>{{ site.heading.initiatives[page.lang] | escape }}</h1>
    <article>
        <header>
            <h1>KubeCon</h1>
            <span><address>Amsterdam, NL</address><time>2023</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>GopherCon</h1>
            <span><address>Denver, USA</address><time>2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Symfony Live</h1>
            <span><address>Berlin, {{ site.country[page.lang] | escape }}</address><time>2012</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Google Developer Days</h1>
            <span><address>Berlin, {{ site.country[page.lang] | escape }}</address><time>2011</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Agile Conference</h1>
            <span><address>Chicago, USA</address><time>2009</time></span>
        </header>
    </article>
</section>
