<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="utf-8">
    <title>{{ site.title[page.lang] | escape }}</title>
    <meta name="description" content="{{ site.description[page.lang] }}">
  
    <meta name="author" content="{{ site.name }} - @{{ site.twitter }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/layout.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}static/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}static/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}static/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}static/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}static/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}static/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}static/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}static/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}static/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}static/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}static/img/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}static/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}static/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="container">
    <header class="three columns">
        <img src="{{ site.baseurl }}static/img/profile.jpg" class="me">
        <h1>{{ site.name }}</h1>
        <p>
            <a href="{{ site.tel_full }}">{{ site.tel }}</a>
        </p>
        <address>
            <a href="{{ site.google_maps }}">
                {{ site.address }}<br/>
                {{ site.postcode }}<br/>
                {{ site.city[page.lang] | escape }}<br/>
                {{ site.country[page.lang] | escape }}
            </a>
        </address>
        <p>
            <a href="{{ site.website_full }}">{{ site.website }}</a><br/>
            <a href="{{ site.email_full }}">{{ site.email }}</a><br/>
        </p>
        <p>
            <a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i> Github</a><br/>
            <a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i> Twitter</a><br/>
            <a href="https://de.linkedin.com/in/dirkpahl"><i class="fa fa-linkedin"></i> LinkedIn</a><br/>
        </p>
        <p  class="no-print">        
            {% for lang in site.languages %}
                <a class="page-link" href="{{ site.index[lang] }}">{{ lang }}</a>
            {% endfor %}
        </p>
    </header>
    <div class="thirteen columns clearfix">

        {{ content }}

    <footer class="thirteen columns no-print">
        <p>© All rights reserved. Powered by <a href="http://jekyllrb.com/">Jekyll</a> and
            <a href="https://www.github.com/biomadeira/vitae">vitae</a> with ♥</p>
    </footer>
    </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
